@{
    ViewData["Title"] = "Index";
}

<section>
    @if (TempData["Mensaje"] != null)
    {
        <div style="color: green; margin-bottom: 10px; padding: 10px; background-color: #d4edda; border: 1px solid #c3e6cb; border-radius: 4px;">
            @TempData["Mensaje"]
        </div>
    }
    
    @if (TempData["Error"] != null)
    {
        <div style="color: #721c24; margin-bottom: 10px; padding: 10px; background-color: #f8d7da; border: 1px solid #f5c6cb; border-radius: 4px;">
            @TempData["Error"]
        </div>
    }
    <div>
        <h1>Index</h1>
        <p>Bienvenidos al sitio web de NombreProyecto</p>
    </div>
    <div>
        <form action = '@Url.Action("verificarUsuario", "Auth")' method =  "POST" enctype = "multipart/form-data">
        <input type ="text" name = "UsuarioIngresado"/>
        <input type ="password" name = "PasswordIngresada"/>
        <input type ="submit" value = "Guardar"/>
    </form>
     </div>
    <a href='@Url.Action("Registrarse" , "Auth")'>Registrarse</a>
</section>
