@{
    ViewData["Title"] = "Index";
}

<section>
    <div>
        <h1>Index</h1>
        <p>Bienvenidos al sitio web de NombreProyecto</p>
    </div>
    <div>
        <form action = '@Url.Action("verificarUsuario", "Auth")' method =  "POST" enctype = "multipart/form-data">
        <input type ="text" name = "UsuarioIngresado"/>
        <input type ="password" name = "PasswordIngresada"/>
        <input type ="submit" value = "Guardar"/>
    </form>
     </div>
    <a href='@Url.Action("Registrarse" , "Auth")'>Registrarse</a>
</section>
