  <div>
        <form action = '@Url.Action("Registrarse", "Auth")' method =  "POST" enctype = "multipart/form-data">
        <input type ="text" name = "NombreUsuarioNuevo"/>
        <input type ="password" name = "PasswordNuevo"/>
        <input type ="submit" value = "Guardar"/>
    </form>
     </div>